<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Games</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="parallax">
    <h2 id="heading">Do you wanna play?</h2>
    <img src="/moon.png" alt="" id="moon">
    <img src="/layer.png" alt="" id="mountain">
    <img src="/grass.png" alt="" id="grass">
</div>

<script src="/style.js"></script>
</body>
</html>