<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="parallax">
    <h2 id="heading">Do you wanna play?</h2>
    <img src="/moon.png" alt="" id="moon">
    <img src="/layer.png" alt="" id="mountain">
    <img src="/grass.png" alt="" id="grass">
</div>
<section>
    <h2>Super PC GAMES site</h2>
    <p>
        Welcome to <span class="colortext">Super PC GAMES</span>, the ultimate hub for everything gaming! Whether you're
        diving into immersive worlds,
        leveling up your skills, or just keeping up with the latest releases, we’re here to fuel your
        passion.
        Explore in-depth reviews, strategy guides, tips, and breaking news from the gaming universe.
        Connect with fellow gamers, share your experiences, and stay ahead with exclusive content, events,
        and giveaways.
        From indie gems to AAA blockbusters, we’ve got it all.
    </p><br><br>
    <p>

        At <span class="colortext">Super PC GAMES</span>, we deliver more than just the latest gaming news. We provide
        in-depth reviews,
        expert tips and guides, and exclusive previews of upcoming games, all designed to help you stay ahead of the
        curve and get the most out of your gaming experience. Whether you're mastering a new RPG, taking on competitive
        multiplayer matches, or exploring new indie titles, our content will guide you every step of the way.
    </p><br><br><br><br><br>
    <p>
        Join our vibrant and growing community of gamers from around the world. Share your experiences,
        join in on discussions, and connect with others who share your passion for gaming. From esports enthusiasts to
        casual streamers, everyone has a place here.
        But that's not all! We’re also your go-to spot for exclusive content, giveaways, event coverage,
        and insider access to game developers and industry news. Dive into our comprehensive guides, watch live streams,
        and get tips and tricks from experts who live and breathe gaming.
    </p><br><br><br><br><br>
    <p>
        No matter what platform you play on—PC, console, mobile, or VR—<span class="colortext">Super PC GAMES</span> is
        your one-stop destination for everything
        you need to elevate your gaming experience. So, power up, log in, and get ready to embark on an unforgettable
        gaming journey.
        Ready to play? Let the adventure begin!

    </p>

</section>
<script src="/style.js"></script>
</body>
</html>